	<footer id="footer">
		
		<div class="container">
		<hr>
			<a href="https://www.facebook.com/ng5667" target="blank">
				<i class="social-icon fab fa-facebook-f"></i>
			</a>
			<a href="https://github.com/nikhiljerry29" target="blank">
				<i class="social-icon fab fa-twitter"></i>
			</a>
			<a href="https://www.instagram.com/jerry_the_shawl_man_/" target="blank">
				<i class="social-icon fab fa-instagram"></i>
			</a>

			<a href="https://github.com/nikhiljerry29" target="blank">
				<i class="social-icon fab fa-github"></i>
			</a>
			<a href="https://www.linkedin.com/in/nikhil-gupta-6a893114a/" target="blank">
				<i class="social-icon fab fa-linkedin"></i>
			</a>
			<h6>Made with 💕 by Jerry</h6>
		</div>
	</footer>
</body>
</html>