<%- include("header") -%>

<section id="loginPage">
	<div class="container main-section box-design">
		<div class="row">

			<div class="col align-self-center text-center">
				<i class="fas fa-user-circle fa-6x image"></i>
				<h1 class="main-heading">Login!</h1>
				<form>
					<div class="form-group">
						<input type="email" class="form-control" id="inputEmail" placeholder="Email address" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
					</div>
					<button type="submit" class="btn btn-block"><i class="fas fa-clipboard-check"></i> Sign In</button>
					<a href="/register" class="btn btn-dark btn-block active" role="button" aria-pressed="true"><i class="fas fa-user-plus"></i> Don't have an account!! Click Here.</a>
				</form>
			</div>

		</div>
	</div>

</section>

<%- include("footer") -%>